@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Gayathri:wght@100;400;700&family=M+PLUS+1p:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

.section-margin {
    margin-top: 6%;
}

section .careers-h2 {
    font-family: 'Domine', serif;
    margin-top: 30px;
    font-size: 37px;
}

section .hide-position {
    color: grey;
    font-size: 20px;

}

section .bold-title {
    font-size: 30px;
    font-family: 'Domine', serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

section .position-title{
    display: flex;
    align-items: center;
    color: grey;
}

section .image img{
    width: 100%;
    height: 100%;
}

section .talent-p {
    font-size: 20px;
    font-family: 'Domine', serif;
}

.show-slow{
    opacity: 0;
    transition: opacity 2s ease;
}

@media (max-width: 1024px) {
    section .hide-position {
      display: none;
    }
}