cite {
  font-size: 24px;
  line-height: 1.2;
}

.heading {
  font-size: 38px;
  line-height: 50px;
}

.client-title {
  font-size: 40px;
  font-weight: 500;
}

.client-button {
  display: flex;
  align-items: center;
}
.member-quote {
  font-size: 32px;
}

@media (max-width: 768px) {
  p.heading {
    font-size: 28px;
  }

  cite {
    font-size: 18px;
  }

  .client-title {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  p.heading {
    font-size: 18px;
  }

  cite {
    font-size: 10px;
  }

  .card-text {
    font-size: 14px;
  }

  .client-title {
    font-size: 20px;
  }

  .client-icon {
    display: none !important;
  }
}
