@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@font-face {
    font-family: myFont;
    src: url(../Fonts/FoundersGrotesk-Medium.otf);
}
@font-face {
    font-family: fontText;
    src: url(../Fonts/Domaine-Text-Regular.otf);
}

/*Navbar Start*/
#navbar{
    background: #FFFCF8 !important;
}


#logo{
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}

header {
    background: #444;
    position: fixed;
    left: 0;
    width: 100%;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    z-index: 99999999999;
}
.default {
    top: 0;
}
.fixed {
    top: -80px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    font-family: myFont;
}
/*Navbar End*/

/*Animation Start*/
.layout-hero {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin-bottom: 88px;
    overflow: hidden;
    margin-top: 80px;
}

.show-title .hero-title {
    opacity: 1
}

.hero-title {
    text-align: center;
    margin: auto auto auto auto;
    width: 100%;
    z-index: 2;
    opacity: 0;
    will-change: opacity;
    padding: 0 80px;
    transform: translateY(calc(-50% + 40px));
    font-weight: 800;
    font-family: fontText;
    font-size: 46px !important;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD

.hero-media-3 {
    transition-delay: 1s
}
=======
>>>>>>> 331743f (SEC animation)
=======
>>>>>>> 6e3f378 (reponsive)
img {
    border: 0;
    display: block;
    outline: none;
    -ms-interpolation-mode: bicubic;
    height: auto;
}
.heading-xxl {
    font-size: 64px;
    line-height: 1.203125
}

<<<<<<< HEAD
<<<<<<< HEAD
/* .is-loaded .hero-media {
    opacity: 1;
    transform: matrix(1,0,0,1,0,0)
} */
=======
.is-loaded .hero-media {
    opacity: 1;
    transform: matrix(1,0,0,1,0,0)
}
>>>>>>> 331743f (SEC animation)
=======
/* .is-loaded .hero-media {
    opacity: 1;
    transform: matrix(1,0,0,1,0,0)
} */
>>>>>>> 6e3f378 (reponsive)

img.lazyload.loaded,video {
    opacity: 1;
    transform: matrix(1,0,0,1,0,0)
}
@media screen and (max-width: 667px){
.hero-title {
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 20px !important;
=======
    font-size: 28px !important;
>>>>>>> 331743f (SEC animation)
=======
    font-size: 20px !important;
>>>>>>> 6e3f378 (reponsive)
    padding: 0 30px;
    transform: translateY(-50%);
}
}
@media screen and (max-width: 1024px){
.heading-xxl {
    font-size: 48px;
}
}
@media screen and (max-width: 1180px){
.hero-title {
    font-size: 40px;
    padding: 0 30px;
}
}
.hero-media {
    transform: translateY(50vh);
    will-change: transform,opacity;
    transition: opacity 2000ms cubic-bezier(.4,0,.2,1),transform 2000ms cubic-bezier(.5,1,.89,1);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%
}

.hero-media iframe,.hero-media img,.hero-media video {
    object-fit: contain;
    width: 100%;
    height: 100%
}

.hero-media iframe {
    width: 100%;
    height: 100%
}

.hero-media-1 {
    transition-delay: 0s
}

.hero-media-2 {
    transition-delay: 0.5s
}

.hero-media-3 {
    transition-delay: 1s
}

.hero-media-4 {
    transition-delay: 1.5s
}
/*Animation End*/

/*Package Start*/
.packages{
    background: #FFFCF8;
    padding: 80px;
}

.packages .packages-top{
    margin-bottom: 42px;
}

.packages .packages-text > i{
    font-size: 12px !important;
}
.packages .packages-text{
    font-size: 16px !important;
    font-weight: 500;
    font-family: myFont;
}

.packages .packages-bottom{
    border-bottom: 1px solid #C4C4C4
}

.packages .packages-top .packages-bottom >h2{

    font-size: 36px;
    font-weight: 550;
}
.packages .packages-top  >h2{

    font-size: 36px;
    font-weight: 550;
}

.packages .packages-top .packages-text  >p{

    font-weight: 600;
}

.main-txt >p{
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 112px;
}
/*Package End*/

/*Contact Start*/

.contact{
    background: #EF562E;
    padding: 100px;
}

 #icon-cta{
   height: 76px;
}
.contact .contact-icons .icon-end{
    text-align: end;
}
.contact .contact-icons .swiper-slide-text{
font-size: 36px;
color: #FFFCF8;
font-family: fontText;
font-weight: 500;
}
.contact .contact-icons .swiper-package .swiper-slide-arrow{
    text-decoration: none;
    color: #fff;
}
.contact .contact-icons .swiper-package > i{
    text-decoration: none;
    color: #fff;
    padding-right: 5px;
    font-size: 20px;
}
@media (max-width: 768px) {
    .contact{
        padding: 60px;
    }
    .contact .contact-icons .icon-end{
        text-align: center;
    }
    .contact .contact-icons .swiper-slide-text{
        font-size: 20px;
        color: #FFFCF8;
        font-family: fontText;
        font-weight: 500;
    }
    #icon-cta{
        height: 50px;
     }
}
@media (max-width: 460px) {

    .contact .contact-icons .swiper-slide-text{
        font-size: 16px;
        color: #FFFCF8;
        font-family: fontText;
        font-weight: 500;
    }
    #icon-cta{
        height: 35px;
     }
     .swiper-package{
        font-size: 14px;
        font-weight: 700;
     }
     .contact .contact-icons .swiper-package > i {
        font-size: 14px;
      }

}
@media (max-width: 401px) {

    .contact .contact-icons .swiper-slide-text{
        font-size: 12px;
        color: #FFFCF8;
        font-family: fontText;
        font-weight: 500;
    }
    #icon-cta{
        height: 25px;
     }
     .swiper-package{
        font-size: 10px;
        font-weight: 700;
     }
     .contact .contact-icons .swiper-package > i {
        font-size: 10px;
      }
}
@media (max-width: 330px) {

    .contact .contact-icons .swiper-slide-text{
        font-size: 8px;
        color: #FFFCF8;
        font-family: fontText;
        font-weight: 500;
    }
    #icon-cta{
        height: 15px;
     }
     .contact .contact-icons .swiper-package .swiper-slide-arrow{
        text-decoration: none;
        color: #fff;
        font-size: 8px;
    }
    .contact .contact-icons .swiper-package > i{
        font-size: 10px;
    }
    
}
/*Contact End*/

/*Footer Start*/
.myfooter{
    background: #000;
    padding: 35px;
}
.myfooter .footer-text{
    text-align: center;
}

.myfooter .footer-text > a{
    margin-left: 10px;
    text-decoration: none;
    color: #ffff;
    font-weight: 550;
    font-family: myFont;
}
.myfooter .svg-icon{
    text-align: end;
}
.myfooter #icon-monogram{
    height: 40px;
    text-align: end;
}
/*Footer End*/


/*Slide Image Start*/
.product .packages-text{
    font-size: 16px;
    font-weight: 500;
    font-family: myFont;
    margin-bottom: 70px;
    margin-left: 100px;
}

.product-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .product-image{
    margin-left: 50px;
    
  }

  .product-image-text{
    width: 500px;
    height: 240px;
    display: flex;
  }
  .product-image-text >p{
    font-size: 32px; 
   margin: auto;
    margin-left: 100px;
    font-family: fontText;
    font-weight: 400;
    padding-right: 100px;
  }
  .product-image-1 >img{
    width: 400px;
    height: 400px;
  }
  .product-image-1 >h2{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: myFont;
    margin: 0;
  }

  .product-image-1 >p{
    font-weight: 400;
    font-size: 16px;
  }

  .product-image img{
    width: 400px;
    height: 400px;
  }
  .product-image >h2{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: myFont;
    margin: 0;
  }

  .product-image >p{
    font-weight: 400;
    font-size: 16px;
  }

  .btn-double{
    text-align: end;
  }
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 45px;
    height: 45px;
    top: 0;
    align-items: center;
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
    border-radius: 50px;
  }
  
  .nxt-btn {
    right: 0;
    border-radius: 50px;
  }
@media (max-width:1100px) {
    .product-image img{
        width: 250px;
        height: 250px;
      }
      .product-image-1  img{
        width: 250px;
        height: 250px;
      }
      .product-image-text{
        width: 400px;
        height: 240px;
        display: flex;
      }
      .product-image-text >p{
        font-size: 24px; 
      }
}
@media (max-width:800px) {
    .product-image img{
        width: 200px;
        height: 200px;
      }
      .product-image-1  img{
        width: 200px;
        height: 200px;
      }
      .product-image-text{
        width: 300px;
        height: 240px;
        display: flex;
      }
      .product-image-text >p{
        font-size: 12px; 
      }
      .product-image-1 >h2{
        font-size: 16px;
      }
      .product-image-1 >p{
        font-size: 12px;
      }
      .product-image > p{
        font-size: 12px;
      }
      .product-image > h2{
        font-size: 16px;
      }
}
@media (max-width:600px) {
    .product-image img{
        width: 150px;
        height: 150px;
      }
      .product-image-1  img{
        width: 150px;
        height: 150px;  
      }
      .product-image-text{
        width: 250px;
        height: 240px;
        display: flex;
      }
      .product-image-text >p{
        font-size: 10px; 
      }
      .pre-btn, .nxt-btn{
        height: 40px;
        width: 40px;
      }
}
@media (max-width:550px) {
    .product-image img{
        width: 130px;
        height: 130px;
      }
      .product-image-1  img{
        width: 130px;
        height: 130px;  
      }
      .product-image-text{
        width: 200px;
        height: 240px;
        display: flex;
      }
      .product-image-text >p{
        font-size: 8px;
        margin: 0;
        margin-left: 50px;
        margin-top: 100px;
        margin-right: 0; 
      }
      .pre-btn, .nxt-btn{
        height: 35px;
        width: 35px;
      }
}
@media (max-width:400px) {
    .product-image img{
        width: 70px;
        height: 70px;
      }
      .product-image-1  img{
        width: 70px;
        height: 70px;  
      }
      .product-image-text{
        width: 100px;
        height: 150px;
        display: flex;
      }
      .product-image-text >p{
        font-size: 8px;
        margin: 0;
        margin-top: 30px;
        margin-right: 0; 
        margin-bottom: 30px;
        padding: 0;
      }
      .product-image-text >p{
        font-size: 8px; 
      }
      .product-image-1 >h2{
        font-size: 10px;
      }
      .product-image-1 >p{
        font-size: 8px;
      }
      .product-image > p{
        font-size: 8px;
      }
      .product-image > h2{
        font-size: 12px;
      }
      .pre-btn, .nxt-btn{
        height: 30px;
        width: 30px;
      }
}
/*Slide Image End*/

/*Banner Start*/
.banner{
    padding: 70px;
}
.banner .banner-wrap .banner-text >h3{
    font-family: fontText;
    font-size: 32px;
    font-weight: 600;
}
@media (max-width: 900px) {
    .banner .banner-wrap .banner-text >h3{
        font-family: fontText;
        font-size: 26px;
        font-weight: 600;
    }
}
@media (max-width: 768px) {
    .banner{
        padding: 0;
        padding-bottom: 70px;
    }
}
@media (max-width: 600px) {
    .banner .banner-wrap .banner-text >h3{
        font-family: fontText;
        font-size: 22px;
        font-weight: 600;
    }
}
/*Banner End*/
@media (max-width: 992px) {
    .packages .packages-top .packages-bottom > h2 {
     font-size: 32px;
     font-weight: 550;}
   }
@media (max-width: 900px) {
    .packages .packages-top .packages-bottom > h2 {
     font-size: 28px;
     font-weight: 550;
    }
    .product .packages-text{
        margin-left: 0;
    }
   }
@media (max-width: 768px) {
   .packages{
    padding: 0;
   }
   .packages .packages-top .packages-bottom > h2 {
    font-size: 28px;
    font-weight: 550;}
  }
  @media (max-width: 500px) {
    .packages .packages-text{
        font-size: 10px !important;
    }
    .packages .packages-text >i{
        padding: 0 !important;
    }
    .product .packages-text{
        font-size: 10px;
    }
    .product .packages-text >i{
        font-size: 12px;
        padding-right: 0 !important;
    }
  }
  @media (max-width: 450px) {
    .packages .packages-top .packages-bottom > h2 {
        font-size: 28px;
        font-weight: 550;}
  }

  @media (max-width: 400px) {
    .packages .packages-text{
        font-size: 8px !important;
    }
    .packages .packages-text >i{
        padding: 0 !important;
    }
    .product .packages-text{
        font-size: 8px;
    }
    .packages .packages-top .packages-bottom > h2 {
        font-size: 24px;
        font-weight: 550;}
  }
  @media (max-width: 390px) {
    .packages .packages-text{
        font-size: 8px !important;
    }
    .packages .packages-text >i{
        padding: 0 !important;
    }
    .packages .packages-top .packages-bottom > h2 {
        font-size: 16px;
        font-weight: 700;}
        .packages .packages-top .packages-bottom > p {
            font-size: 10px;
            font-weight: 550;}
  }

  @media (max-width: 353px) {
    .packages .packages-text{
        font-size: 8px !important;
    }
    .packages .packages-text >i{
        padding: 0 !important;
    }
    .packages .packages-top .packages-bottom > h2 {
        font-size: 12px;
        font-weight: 700;}
        .packages .packages-top .packages-bottom > p {
            font-size: 10px;
            font-weight: 550;}
  }

  @media (max-width: 768px) {
    .myfooter .svg-icon {
        text-align: center;
      }
  }

.btn-circle{
    width: 25px !important;
    height: 25px !important;
    border: 1px solid black !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


  .circle {
    width: 35px;
    height: 35px;
    border: 1px solid black !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .circle.circle-2 {
    color: white;
    border: 1px solid white;
  }
  
  .right-card-work-layout {
    background-color: #ef562e;
    color: white;
  }
  
  .circle-1:hover {
    color: white;
    background-color: black;
  }
  
  .circle-2:hover {
    color: black;
    background-color: white;
  }

  cite {
    font-size: 24px;
    line-height: 1.2;
  }
  .heading {
    font-size: 35px;
    line-height: 50px;
  }
  @media (max-width:800px) {
    .heading{
        font-size: 20px;
    }
    cite {
        font-size: 20px;
        line-height: 1.2;
      }
    
  }
  @media (max-width:600px) {
    .heading{
        font-size: 16px;
    }
    cite {
        font-size: 14px;
        line-height: 1.2;
      }
  }
  @media (max-width:400px) {
    .heading{
        font-size: 12px;
    }
    cite {
        font-size: 8px;
        line-height: 1.2;
      }
      .fw-bold {
        font-weight: 500 !important;
        font-size: 12px;
      }
  }


  section .kinded-work-placemaking .button-link {
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50%;
    transition: .4s;
  }
